.blueprint-footer {
	width: calc(100% - 4rem);
	display: grid;
	grid-auto-flow: row;
	grid-row-gap: 2rem;
	padding: 2rem;
	color: var(--grey);
}

.blueprint-footer__section {
	display: flex;
	flex-direction: column;
}

.blueprint-footer__title {
	font-family: var(--roboto);
	font-size: 1.2rem;
	font-weight: 700;
	color: var(--primary-color);
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 1rem;
}

.blueprint-footer__link {
	font-family: var(--roboto);
	margin-bottom: 0.75rem;
}

.blueprint-footer__social {
	display: grid;
	grid-template-columns: repeat(4, min-content);
	grid-gap: 1.5rem;
	padding-top: 0.5rem;
}

.blueprint-footer__social-icon {
	font-size: 1.5rem;
}

@media (min-width: 800px) {

	.blueprint-footer {
		max-width: calc(1200px - 4rem);
		grid-template-columns: repeat(3, max-content);
		grid-column-gap: 6rem;
		margin: 2rem auto 0;
	}
}

@media (min-width: 1024px) {

	.blueprint-footer {
		grid-column-gap: 9rem;
	}
}
