.hero {
	height: 55vw;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.hero__image-wrapper {
	height: 110%;
	width: 100%;
	transform: skewY(-30deg);
	transform-origin: 0;
	position: absolute;
	overflow: hidden;
}

.hero__content {
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 2;
}

.hero__text {
	width: calc(100% - 1rem);
	font-family: var(--roboto);
	font-size: 1.5rem;
	color: var(--grey);
	letter-spacing: 1px;
	line-height: 1.5;
	text-align: right;
	margin: 0;
}

.hero__button {
	position: absolute;
	bottom: 0;
	right: 15vw;
	z-index: 2;
}

.hero__overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: var(--white);
	opacity: 0.7;
	z-index: 1;
}

.hero__image {
	width: 100vw;
	max-width: 1200px;
	transform: skewY(30deg);
}

.front-page-card-container {
	width: 100%;
	display: grid;
	grid-auto-flow: row;
	grid-row-gap: 3rem;
	padding: 3rem 0 2rem;
	max-width: 1200px;
	margin: 0 auto;
}

#about-me {
	max-width: calc(1024px - 4rem);
}

#bio-header {
	font-family: var(--alice);
	font-size: 2rem;
	color: var(--primary-dark);
	margin: 0.5rem 0;
}

#bio-photo {
	width: 100%;
	max-width: 250px;
	border-radius: 0.5rem;
	margin: 0 auto 1rem;
}

@media (min-width: 400px) {

	.hero__text {
		font-size: 2rem;
	}

	.hero__button {
		bottom: 0.5rem;
		right: 25vw;
	}
}

@media (min-width: 640px) {

	.hero__text {
		font-size: 2.75rem;
	}

	.hero__button {
		bottom: 2rem;
		right: 25vw;
	}

	.wp-blueprint-main {
		display: block;
	}

	#bio-photo {
		float: left;
		margin: 1rem 2rem 1rem 0;
	}
}

@media (min-width: 800px) {

	.hero {
		height: 450px;
	}

	.hero__image-wrapper {
		height: 550px;
	}

	.hero__text {
		width: calc(100% - 30vw + 200px);
	}

	.hero__button {
		bottom: 4rem;
		right: 30vw;
	}
}

@media (min-width: 1024px) {

	.hero__image-wrapper {
		height: 690px;
	}

	.hero__content {
		justify-content: flex-start;
		padding-top: 7rem;
	}

	.hero__text {
		width: calc(100% - 100px);
	}

	.hero__button {
		bottom: 7rem;
		right: 300px;
	}

	.front-page-card-container {
		grid-template-columns: repeat(2, 540px);
		justify-content: center;
	}
}

@media (min-width: 1400px) {

	.front-page-card-container {
		grid-template-columns: repeat(3, 400px);
		max-width: 1400px;
	}
}
