.blueprint-header {
	width: calc(100% - 3rem);
	padding: 1rem 1.5rem;
}

.blueprint-header__content {
	display: grid;
	grid-template-columns: min-content max-content auto;
	grid-auto-flow: column;
	align-items: center;
	max-width: 1150px;
	margin: 0 auto;
}

.blueprint-header__icon {
	height: 2.5rem;
	transform: rotate(-25deg);
	margin-right: 1.25rem;
}

.blueprint-header__titles-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--grey-dark);
}

.blueprint-header__title {
	font-family: var(--alice);
	font-size: 2rem;
}

.blueprint-header__subtitle {
	font-family: var(--roboto);
	font-size: 0.54rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 0.3rem;
}

.blueprint-header__desktop-nav {
	display: none;
}

.blueprint-header__search {
	height: 1.75rem;
	justify-self: flex-end;
}

.blueprint-mobile-pill {
	height: 4rem;
	width: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 2rem;
	color: var(--white);
	background-color: var(--primary-color);
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	box-shadow: 5px 5px 10px -2px var(--grey-light);
	z-index: 10;
}

.blueprint-mobile-pill:active {
	background-color: var(--primary-dark);
}

@media (min-width: 1024px) {

	.blueprint-header__icon {
		height: 3rem;
		margin-right: 1.5rem;
	}

	.blueprint-header__title {
		font-size: 2.25rem;
	}

	.blueprint-header__subtitle {
		font-size: 0.62rem;
	}

	.blueprint-header__content {
		grid-template-columns: min-content max-content auto min-content;
	}

	.blueprint-header__desktop-nav {
		display: grid;
		grid-auto-flow: column;
		grid-column-gap: 3rem;
		justify-self: flex-end;
		padding: 0 3rem;
	}

	.blueprint-header__nav-link {
		font-family: var(--roboto);
		font-size: 1rem;
		font-weight: 700;
		color: var(--primary-color);
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.blueprint-header__nav-link:hover {
		text-decoration: underline;
	}

	.blueprint-mobile-pill {
		display: none;
	}
}
