/**
 * Theme Name: WP-Blueprint (2.0)
 * Author: Caleb young
 * Description: A WordPress theme built to be expressive, modern, and fluid.
 * Version: 2.0
 */

/* Custom Properties
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {

	/* Color Scheme Properties */
	--primary-color: #3da5d9;
	--secondary-color: #e75a7c;
	--grey: #364652;
	--white: #fafafa;

	/* Color Scheme Variants */
	--primary-light: #79d6ff;
	--primary-dark: #0076a7;
	--secondary-light: #ff8cab;
	--secondary-dark: #b02450;
	--grey-light: #61717e;
	--grey-dark: #0f1f2a;
	--white-light: #fff;
	--white-dark: #c7c7c7;

	/* Fonts */
	--alice: "Alice", serif;
	--roboto: "Roboto", sans-serif;
	--rubik: "Rubik", sans-serif;
}

/* Global Site Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;
}

.html-with-admin-bar {
	min-height: 100%;
	margin-top: 0 !important;
}

.html-no-admin-bar {
	min-height: 100%;
}

body {
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: var(--white);
}

.html-with-admin-bar body {
	padding-top: 46px;
}

.blueprint-content {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.wp-blueprint-main {
	width: calc(100% - 4rem);
	max-width: calc(1100px - 4rem);
	display: flex;
	flex-direction: column;
	font-family: var(--rubik);
	line-height: 2;
	padding: 0 2rem;
	margin: 0 auto;
}

picture {
	display: flex;
}

picture img {
	height: 100%;
	width: 100%;
	object-position: center;
	object-fit: cover;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

a.grey-link {
	color: var(--grey);
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
	padding: 0.75rem 1.25rem;
	font-family: var(--roboto);
	font-size: 0.8rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	border-radius: 0.5rem;
}

.button:focus {
	outline: none;
}

.button--primary {
	background-color: var(--primary-color);
	color: var(--white);
}

.button--primary:focus {
	background-color: var(--primary-dark);
}


/* Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.card {
	width: 80%;
	max-width: 400px;
	margin: 0 auto;
	box-shadow: 0 0 10px -2px var(--grey-light);
	transition: box-shadow 0.15s ease-in-out;
	border-radius: 0.5rem;
	position: relative;
	padding-bottom: 1.25rem;
}

.card:hover {
	box-shadow: 0 0 15px -2px var(--grey-light);
}

.card__overlay {
	height: 40vw;
	max-height: 12rem;
	width: 100%;
	position: absolute;
	background-color: var(--white);
	opacity: 0.2;
}

.card__picture {
	height: 40vw;
	max-height: 12rem;
}

.card__image {
	border-radius: 0.5rem 0.5rem 0 0;
}

.card__title {
	font-family: var(--roboto);
	color: var(--grey);
	padding: 0 1rem;
}

.card__text {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	font-family: var(--rubik);
	color: var(--grey-dark);
	padding: 0 1rem;
	margin-bottom: 0;
	line-height: 1.25;
	-webkit-line-clamp: 4;
	overflow: hidden;
}

.card__label {
	display: inline-block;
	font-family: var(--roboto);
	font-size: 0.75rem;
	font-weight: 700;
	padding: 0.5rem 1rem;
	margin: 1rem 1rem 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	border-radius: 0.5rem;
}

.card__label--primary {
	color: var(--white);
	background-color: var(--primary-color);
}

.card__label--secondary {
	color: var(--white);
	background-color: var(--secondary-color);
}
